@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active, :focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside, footer, header, nav {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus- inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.wrapper .header_continer {
  max-width: 90rem;
  margin: 0 auto;
}
.wrapper .header {
  background-color: #262625;
  color: aliceblue;
}
.wrapper .header .header_items {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .header .header_items .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .header_items .logo .header_logo {
  padding-right: 30px;
}
.wrapper .header .header_items .logo .header_logo img {
  width: 10rem;
}
.wrapper .header .header_items .logo .logo_text {
  color: #696969;
  font-size: 18px;
  font-family: "PT Sans";
}
.wrapper .header .header_items .phone_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .header_items .phone_search .phone_img {
  padding-right: 0.33rem;
}
.wrapper .header .header_items .phone_search .phone_img img {
  width: 1.775rem;
}
.wrapper .header .header_items .phone_search .phone_text {
  color: #696969;
  padding-right: 1.5rem;
}
.wrapper .header .header_items .phone_search .search_img {
  border: 2px solid #525151;
  border-radius: 8px;
  width: 2.813rem;
  height: 2.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .header .header_items .phone_search .search_img img {
  width: 1.575rem;
}
.wrapper .header .header_content {
  padding-top: 6.25rem;
}
.wrapper .header .header_content .content_body {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
}
.wrapper .header .header_content .content_body .content_title_nav .content_title {
  font-size: 3.125rem;
  line-height: 3.5rem;
  letter-spacing: 0.125rem;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav {
  padding-top: 6.25rem;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item {
  min-width: 13.5rem;
  position: relative;
  padding-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item::after {
  content: " ";
  background: #525151;
  width: 20.375rem;
  height: 2px;
  opacity: 30%;
  bottom: 1.75rem;
  left: 0;
  position: absolute;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item.nav_item_last::after {
  display: none;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item img {
  width: 1.25rem;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item a {
  color: #727272;
}
.wrapper .header .header_content .content_body .content_title_nav .content_nav .nav_body .nav_item p {
  font-size: 1.438rem;
  padding-left: 1.25rem;
}
.wrapper .header .header_content .content_img {
  margin: 0 auto;
}
.wrapper .header .header_content .content_img img {
  max-width: 34.375rem;
}
.wrapper .sub_header {
  padding-top: 6.25rem;
  background-color: rgb(198, 198, 198);
}
.wrapper .sub_header .sub_header_body .sub_header_items {
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6.225rem, 46.875rem) 80px minmax(6.225rem, 28.125rem);
  grid-template-columns: minmax(6.225rem, 46.875rem) minmax(6.225rem, 28.125rem);
  -ms-grid-rows: 1fr 25px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.wrapper .sub_header .sub_header_body .sub_header_items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .sub_header .sub_header_body .sub_header_items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .sub_header .sub_header_body .sub_header_items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .sub_header .sub_header_body .sub_header_items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .sub_header .sub_header_body .sub_header_items .sub_header_text_header {
  letter-spacing: 0.1px;
  line-height: 30px;
}
.wrapper .sub_header .sub_header_body .sub_header_items .sub_header_text_header .first_letter {
  font-size: 40px;
}
.wrapper .sub_header .sub_header_body .sub_header_items .sub_header_text_header span {
  color: rgb(224, 79, 1);
}
.wrapper .sub_header .sub_header_body .sub_header_items .item_img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}
.wrapper .sub_header .sub_header_body .sub_header_items .item_img_text img {
  max-height: 3.438rem;
  width: 3.438rem;
}
.wrapper .sub_header .sub_header_body .sub_header_items .item_img_text .item_img_text_text {
  padding-left: 30px;
  letter-spacing: 0.3px;
}
.wrapper .sub_header .sub_header_body .sub_header_items .item_img_text .item_img_text_text span {
  font-size: 14px;
  opacity: 55%;
}
.wrapper .sub_header .sub_header_body .sub_header_items .item_img_text .item_img_text_text p {
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}