//обнулене
@import "nullstyle.scss";
//шрифт Pt Sanss
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//function to %
@function prc($pxone,$pxtwo){
  $result:math.div($pxone,$pxtwo) * 100%;
  @return $result;
}
//to rem
@function rem($px){
  $result:math.div($px,16) + rem;
  @return $result;
}
//to em
@function em($px){
  $result:math.div($px,16) + em;
  @return $result;
}

body{
  font-family: "Roboto";
  font-size: 16px; // Базовый размер шрифта
}

.container{
  max-width: 75rem; // 1200px
  margin: 0 auto;
}

.wrapper{ 
  .header_continer{
    max-width: 90rem; // 1440px
    margin: 0 auto;
  }
  .header{
    background-color: #262625;
    color: aliceblue;
    .header_items{
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo{
        display: flex;
        align-items: center;
        .header_logo{
          padding-right: 30px;
          img{
            width: 10rem; // 160px
          }
        }
        .logo_text{
          color:#696969;
          font-size: 18px; // Размер текста логотипа
          font-family: "PT Sans";
        }
      }
      .phone_search{
        display: flex;
        align-items: center;
        .phone_img{
          padding-right: 0.33rem;
          img{
            width: 1.775rem; // ~28.4px
          }
        }
        .phone_text{
          color:#696969;
          padding-right: 1.5rem;
        }
        .search_img{
          border: 2px solid #525151;
          border-radius: 8px;
          width: 2.813rem; // ~45px
          height: 2.813rem;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 1.575rem; // ~25.2px
          }
        }
      }
    }

    .header_content{

      
      padding-top: 6.25rem; // 100px
      
      
      .content_body{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(18.125rem,1fr)); // ~290px

        .content_title_nav{
          .content_title{
            font-size: 3.125rem; // 50px
            line-height: 3.5rem; // 56px
            letter-spacing: 0.125rem; // 2px
          }
          .content_nav{
            padding-top: 6.25rem; // 100px
            .nav_body{
              .nav_item {
                min-width: 13.5rem; // 216px
                position: relative;
                padding-bottom: 3.5rem; // 56px
                display: flex;
               
                
                &::after { 
                  content: " ";
                  background: #525151;
                  width: 20.375rem; // 326px
                  height: 2px;
                  opacity: 30%;
                  bottom: 1.75rem; // 28px
                  left: 0;
                  position: absolute;
                }
            
                &.nav_item_last::after {
                  display: none;
                }
               
                img {
                  width: 1.25rem; // 20px
                }
                a { color: #727272; }
                p {
                  font-size: 1.438rem; // ~23px
                  padding-left: 1.25rem; // 20px
                }
              }
            }
          }
        }
      }
      .content_img{
        position: relative;
           margin: 0 auto;
        img{
          
          max-width: 34.375rem; // 550px
          
        }
        .content_img_price{
          position: absolute;
         
          bottom: 13rem;
          left: 7.5rem;
          img{
            max-width: 11.5rem;
          }
        }
      }
    }
  }


   .sub_header {
    padding-top: 6.25rem;
    background-color: rgb(198, 198, 198);
    .sub_header_body{
        
      .sub_header_items{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
       
        gap: 25px;
        column-gap: 80px;
        

        .sub_header_text_header{
        grid-column: 1/span 2;
          letter-spacing: 0.1px;
          line-height: 30px;
          .first_letter{
            font-size: 40px;
          }
          span{
            color: rgb(224, 79, 1);
          }
        }
        
        .item_img_text{
          grid-column-start: 3;
          display: flex;
          line-height: 20px;
            img{
              max-height: 3.438rem;
              width: 3.438rem;
            }
            .item_img_text_text{
              padding-left: 30px;
              letter-spacing: 0.3px;
              span{font-size: 13px;opacity: 55%;}
               p{
                line-height: 20px;
                font-weight: 700; 
                padding-bottom: 5px;
                
               }
            }
        }

      }
    }
   }

  


  .card_content{
    padding-top:50px;
    background-color: rgb(210, 210, 210);

    .card_body{
      
      
      .content_card_title{
        padding-bottom: 20px;
        font-size: 20px;
        letter-spacing: 0.5px;
        
      }
      .content_items{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(12.5rem,1fr));
        gap: 10px;
        .card_item{
           .card_img{
            position: relative;
            img{
              width:17.5rem;
            }
            .card_title{
              color: aliceblue;
              font-size:17px;
              padding-left: 20px;
              position: absolute;
              bottom: 0;
              left :0;
              padding-bottom: 20px;
              letter-spacing: 0.5px;
              &::after { 
                content: " ";
                background: #9a9898;
                width: 15.5rem; // 326px
                height: 2px;
                opacity: 30%;
                bottom: 3rem; // 28px
                left: 10px;
                right: 10px;
                position: absolute;
              }
            }
          }

        }
      }
    }











  }














}

